* {
/* 	box-sizing: border-box; */
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: space-between; /* horizontal aligning */
	align-items: center; /* vertical aligning */
	padding: 0 auto;
	height: 50px;
	background-color: #24252a;
}
#links_header a, #shop_name_header {
	color: white;
	font-family: cursive;
	font-weight: normal;
	text-decoration: none;
}
#shop_name_header{
	margin-left: 20px;
	font-size: 22px;
}
#links_header a{
		font-size: 16px;
		margin-left: 10px;		
}

#links_header li {
	display: inline;
	padding: 0px 20px;
}
#shop_name_header:hover
	, #links_header li a:hover{
	transition: 0.5s;
	color: DeepSkyBlue;
	transform:scale(1.1);
}